*{
  padding: 0;
  margin : 0;
  box-sizing : border-box;
}
.App{
  background-color: skyblue;
  height: 100vh;
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  margin-bottom: 2rem;
}
#temp{
  font-size: 48px;
  color: whitesmoke;
}
button{
  padding: 0.5rem;
  border: none;
}
button:hover{
  background-color: rgb(135, 236, 236);
  transition: all .5s ease-in;
}
#city{
  font-weight: bolder;
  color:chocolate;
}